h1 {
    text-align: center;
}

.indisponivel{
    color: red;
}

.end{
    float: right
}

.modelos{
    display: flex;
}

.center{
margin: auto;
  width: 50%;
  padding: 10px;
}

.fields{
    display: flex;
    flex-direction: column;
}

.item-field{
    margin-top: 10px;
}

.separate{
    margin: 20px;
    padding: 20px;
}

.color-bg{
    background-color: ghostwhite;
}